<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src={{image}} class="imagesize" alt="">
            </div>
            <div class="col-md-6">
                <p>Name:</p><p class="font">{{name}}</p>
                <p>Author:</p><p class="font">{{author}}</p>
                <p>Details:</p><p class="font">{{details}}</p>
                <a routerLink="" (click)="lol()" class="btn btn-success">Add to cart</a>&nbsp;&nbsp;
                <br>
        </div>
    </div>
</div>